.queueManager {
    position: fixed; 
    right: 0; 
    bottom: 0; 
    background-color: #eeeeee; 
    width: 400px;
    max-height: 300px;
    display: none;
}

.queueManager .command {
    background-color: yellow;
    text-align: right;
    width: 100%;
    z-index: 50;
}
.queueManager .command .minimizeButton {
    cursor: pointer;
    right: 5px;
}
.queueManager .command .closeButton {
    cursor: pointer;
}

.queueManager .list {
    overflow-y: scroll;
    height: 150px;
}

.statusOK {
    color: green;
}

.statusError {
    color: red;
}