<div ng-controller="GamesController as gamesCtrl" ng-init="gamesCtrl.init()">
    <popup-window path="gamesCtrl.Include()"
                  popup-title="Games"
                  src="game"></popup-window>
    <button class="btn btn-primary" ng-click="gamesCtrl.new()">New game</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Developer</th>
                <th>Year Launch</th>
                <th>Platform</th>
                <th><i class="glyphicon glyphicon-cog" style="font-size: 1.5em;"></i></th>
            </tr>
        </thead>
        <tbody ng-show="gamesCtrl.Games.length < 1 && !gamesCtrl.error">
            <tr class="info">
                <td colspan="5" class="text-center">
                    <i class="glyphicon glyphicon-refresh rotate-icon"></i>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="gamesCtrl.error">
            <tr class="danger">
                <td colspan="5" class="text-center">
                    <i class="glyphicon glyphicon-remove-sign remove"></i>
                    There was an error while retrieving the list of games
                </td>
            </tr>
        </tbody>
        <tbody ng-show="gamesCtrl.Games.length > 0">
            <tr ng-repeat="game in gamesCtrl.Games track by game.Id">
                <td class="col-md-4">{{game.Name}}</td>
                <td class="col-md-2">{{game.Developer}}</td>
                <td class="col-md-2">{{game.YearLaunch}}</td>
                <td class="col-md-2">{{game.Platform}}</td>
                <td class="col-md-2">
                    <i class="glyphicon glyphicon-pencil icon" title="Edit" ng-click="gamesCtrl.edit(game)"></i>
                    <i class="glyphicon glyphicon-trash icon remove" title="Delete" ng-click="gamesCtrl.delete(game)"></i>
                    <i class="glyphicon glyphicon-thumbs-up icon like" title="Like" ng-click="gamesCtrl.like(game)"></i>
                    <i class="glyphicon glyphicon-shopping-cart icon buy" title="Buy" ng-click="gamesCtrl.buy(game)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <queue-manager src="gamesCtrl.listOfGames"></queue-manager>
</div>