<form name="form" class="form-horizontal">
    <div class="form-group" ng-class="{'has-success': dataSource.Name != '', 'has-error': !form.txtName.$valid }">
        <label for="txtField1" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Name of the game" ng-model="dataSource.Name" ng-maxlength="100">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-success': dataSource.YearLaunch != '', 'has-error': !form.txtYearLaunch.$valid }">
        <label for="txtField2" class="col-sm-2 control-label">Year lauch</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="txtYearLaunch" name="txtYearLaunch" ng-model="dataSource.YearLaunch" ng-maxlength="100">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-success': dataSource.Developer != '', 'has-error': !form.txtDeveloper.$valid }">
        <label for="txtField3" class="col-sm-2 control-label">Developer</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtDeveloper" name="txtDeveloper" ng-model="dataSource.Developer" ng-maxlength="100">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-success': dataSource.Platform != '', 'has-error': !form.txtPlatform.$valid }">
        <label for="txtField3" class="col-sm-2 control-label">Platform</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtPlatform" name="txtPlatform" ng-model="dataSource.Platform" ng-maxlength="100">
        </div>
    </div>
</form>