<form class="form-horizontal ng-valid ng-scope ng-dirty" ng-controller="QueueListController as queueCtrl">

    <div class="form-group" ng-class="{'has-success': queueCtrl.currrentItem.Name != '' }">
        <label for="txtField1" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control ng-valid ng-dirty ng-touched ng-empty" id="txtField1" placeholder="Name of the game" ng-model="queueCtrl.currrentItem.Name">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-success': queueCtrl.currrentItem.YearLaunch != '' }">
        <label for="txtField2" class="col-sm-2 control-label">Year lauch</label>
        <div class="col-sm-10">
            <input type="text" class="form-control ng-valid ng-dirty ng-touched ng-empty" id="txtField2" ng-model="queueCtrl.currrentItem.YearLaunch">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-success': queueCtrl.currrentItem.Developer != '' }">
        <label for="txtField3" class="col-sm-2 control-label">Developer</label>
        <div class="col-sm-10">
            <input type="text" class="form-control ng-valid ng-dirty ng-touched ng-empty" id="txtField3" ng-model="queueCtrl.currrentItem.Developer">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-success': queueCtrl.currrentItem.Platform != '' }">
        <label for="txtField3" class="col-sm-2 control-label">Platform</label>
        <div class="col-sm-10">
            <input type="text" class="form-control ng-valid ng-dirty ng-touched ng-empty" id="txtField3" ng-model="queueCtrl.currrentItem.Platform">
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" style="margin-left: 450px;" ng-click="queueCtrl.Save()" ng-disabled="queueCtrl.isFormValid()" disabled="disabled">Save</button>
    </div>

    <queue-manager src="queueCtrl.listOfItems"></queue-manager>
</form>