<div ng-controller="ProductsController as productCtrl" ng-init="productCtrl.init()">
    <popup-window path="productCtrl.Include()" 
                  popup-title="'Product'" 
                  src="Products"></popup-window>
    <button class="btn btn-primary" ng-click="productCtrl.newProduct()">New product</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
                <th><i class="glyphicon glyphicon-cog" style="font-size: 1.5em;"></i></th>
            </tr>
        </thead>
        <tbody ng-show="productCtrl.Products.length < 1 && !productCtrl.error">
            <tr class="info">
                <td colspan="4" class="text-center">
                    <i class="glyphicon glyphicon-refresh rotate-icon"></i>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="productCtrl.error">
            <tr class="danger">
                <td colspan="4" class="text-center">
                    <i class="glyphicon glyphicon-remove-sign remove"></i>
                    There was an error while retrieving the list of products
                </td>
            </tr>
        </tbody>
        <tbody ng-show="productCtrl.Products.length > 0">
            <tr ng-repeat="product in productCtrl.Products track by product.ProductID">
                <td class="col-md-4">{{product.ProductName}}</td>
                <td class="col-md-3">{{product.QuantityPerUnit}}</td>
                <td class="col-md-2">{{product.UnitPrice | currency:"USD$"}}</td>
                <td class="col-md-2">
                    <i class="glyphicon glyphicon-pencil icon" title="Edit" ng-click="productCtrl.edit(product)"></i>
                    <i class="glyphicon glyphicon-trash icon" title="Delete" ng-click="productCtrl.delete(product)"></i>
                    <i class="glyphicon glyphicon-thumbs-up icon like" title="Like" ng-click="productCtrl.like(product)"></i>
                    <i class="glyphicon glyphicon-shopping-cart icon buy" title="Buy" ng-click="productCtrl.buy(product)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>